@font-face {
  font-family: "iconfont"; /* Project id 3388614 */
  src: url('iconfont.woff2?t=1652115920526') format('woff2'),
       url('iconfont.woff?t=1652115920526') format('woff'),
       url('iconfont.ttf?t=1652115920526') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconsearch:before {
  content: "\e605";
}

.icon-wode:before {
  content: "\e638";
}

.icon-mulu:before {
  content: "\e608";
}

.icon-shequ:before {
  content: "\e658";
}

.icon-wodeshujia:before {
  content: "\e63e";
}

